<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.swan.test.mybatis.mapper.IAutoDelMapper">

    <sql id="tableName">
        t_auto_del
    </sql>

    <sql id="columns">
        id
             ,name
             ,age
        ,del
        
    </sql>

    <!-- 查询条件 -->
<sql id="condition">
    <if test="condition != null">
        <foreach collection="condition.criterionList" item="criterion" >
            <if test="criterion.operatorParams == 0">
                ${criterion.logicOp} ${criterion.column} ${criterion.operator}
            </if>
            <if test="criterion.operatorParams == 1">
                ${criterion.logicOp} ${criterion.column} ${criterion.operator} #{criterion.value}
            </if>
            <if test="criterion.operatorParams == 2">
                ${criterion.logicOp} ${criterion.column} ${criterion.operator} #{criterion.value} and #{criterion.secondValue}
            </if>
            <if test="criterion.operatorParams == 3">
                ${criterion.logicOp} ${criterion.column} ${criterion.operator}
                <foreach collection="criterion.listValues" item="itemValue" open="(" close=")" separator="," >
                    #{itemValue}
                </foreach>
            </if>
        </foreach>
    </if>
</sql>
    <!-- 查询字段 -->
<sql id="selectFields">
    <choose>
        <when test="option.length > 0 and option[0].columns.size > 0">
            <if test="option[0].distinct">
                distinct
            </if>
            <foreach collection="option[0].columns" separator="," item="column">
                ${column}
            </foreach>
        </when>
        <otherwise>
            <include refid="columns"/>
        </otherwise>
    </choose>
</sql>
    <!-- 搜索排序 -->
<sql id="selectOrders">
    order by
    <choose>
        <when test="option.length > 0 and option[0].orderBys.size > 0">
            <foreach collection="option[0].orderBys" separator="," item="rule">
                ${rule.column} ${rule.type}
            </foreach>
        </when>
        <otherwise>
            id asc
        </otherwise>
    </choose>
</sql>
    <!-- 分页 -->
<sql id="selectLimit">
    <if test="option.length > 0 and option[0].limit != null">
        limit
        <if test="option[0].offset">
            ${optio[0]n.offset}
        </if>
        ${option[0].limit}
    </if>
</sql>
    <!-- 新增方法 -->

<insert id="insert"  useGeneratedKeys="true" keyProperty="id">
    insert <include refid="tableName"/>(<include refid="columns"/>)
    values (
        #{id}
            ,#{name}
            ,#{age}
        ,'0'
        
    );
</insert>




<insert id="insertNotNull"  useGeneratedKeys="true" keyProperty="id">
    insert <include refid="tableName"/>(
        id
            <if test="name != null ">,name</if>
            <if test="age != null ">,age</if>
            ,del
    )
    values(
        #{id}
            <if test="name != null ">,#{name}</if>
            <if test="age != null ">,#{age}</if>
        ,'0'
        
    )
</insert>
<insert id="insertList"  useGeneratedKeys="true" keyProperty="id">
    insert <include refid="tableName"/>(<include refid="columns"/>)
    values
    <foreach collection="list" separator="," item="entity">
        (
        #{entity.id}
            ,#{entity.name}
            ,#{entity.age}
        ,'0'
        
        )
    </foreach>
</insert>
    <!-- 删除方法 -->

<delete id="delete">
    update <include refid="tableName"/>
    set
        id = id
            ,del = '-1'
    where
        id = #{id}
            and del = '0'
</delete>
<delete id="deleteById">
    update <include refid="tableName"/>
    set
        id = id
            ,del = '-1'
    where
        id = #{id}
            and del = '0'
</delete>
    <!-- 更新方法 -->

<update id="update">
    update <include refid="tableName"/>
    set
        id = id
            ,name = #{name}
            ,age = #{age}
    where
        id = #{id}
</update>
<update id="updateById">
    update <include refid="tableName"/>
    set
        id = id
            ,name = #{name}
            ,age = #{age}
    where
        id = #{id}
</update>
<update id="updateNotNullById">
    update <include refid="tableName"/>
    set
        id = id
            <if test="name != null ">
                ,name = #{name}
            </if>
            <if test="age != null ">
                ,age = #{age}
            </if>
    where
        id = #{id}
</update>
<update id="updateNotNull">
    update <include refid="tableName"/>
    set
        id = id
            <if test="name != null ">
                ,name = #{name}
            </if>
            <if test="age != null ">
                ,age = #{age}
            </if>
    where
        id = #{id}
</update>
    <!-- 查询方法 -->


<select id="selectById" resultType="com.swan.test.mybatis.po.AutoDelEntity">
    select<include refid="selectFields" />
    from <include refid="tableName"/>
    where id = #{id}
        and del = '0'
</select>
<select id="selectListByIds" resultType="com.swan.test.mybatis.po.AutoDelEntity">
    select <include refid="selectFields" />
    from <include refid="tableName"/>
    where id in
        <foreach collection="idList" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
            and del = '0'
    <include refid="selectOrders"/>
</select>

<select id="select" resultType="com.swan.test.mybatis.po.AutoDelEntity">
    select <include refid="selectFields" />
    from <include refid="tableName"/>
    <where>
        <include refid="condition"/>
           del = '0'
    </where>
    <include refid="selectOrders"/>
    <include refid="selectLimit"/>
</select>

<select id="selectList" resultType="com.swan.test.mybatis.po.AutoDelEntity">
    select <include refid="selectFields" />
    from <include refid="tableName"/>
    <where>
        <include refid="condition"/>
            and del = '0'
    </where>
    <include refid="selectOrders"/>
    <include refid="selectLimit"/>
</select>
    <!-- 统计方法 -->

<select id="count" resultType="int">
    select count(*)
    from <include refid="tableName"/>
    <where>
        <include refid="condition"/>
                    and del = '0'
    </where>
</select>
</mapper>

