<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.swan.test.mybatis.mapper.IAutoDelMapper">

    <sql id="tableName">
        t_auto_del
    </sql>

    <sql id="columns">
        id
             ,name
             ,age
        ,del
        
    </sql>

    <sql id="WhereCondition">
            del = '0'
    </sql>

    <!-- 新增方法 -->

<insert id="insert"  useGeneratedKeys="true" keyProperty="id">
    insert <include refid="tableName"/>(<include refid="columns"/>)
    values (
        #{id}
            ,#{name}
            ,#{age}
        ,'0'
        
    );
</insert>




<insert id="insertNotNull"  useGeneratedKeys="true" keyProperty="id">
    insert <include refid="tableName"/>(
        id
            <if test="name != null ">,name</if>
            <if test="age != null ">,age</if>
            ,del
    )
    values(
        #{id}
            <if test="name != null ">,#{name}</if>
            <if test="age != null ">,#{age}</if>
        ,'0'
        
    )
</insert>
<insert id="insertList"  useGeneratedKeys="true" keyProperty="id">
    insert <include refid="tableName"/>(<include refid="columns"/>)
    values
    <foreach collection="list" separator="," item="entity">
        (
        #{entity.id}
            ,#{entity.name}
            ,#{entity.age}
        ,'0'
        
        )
    </foreach>
</insert>
    <!-- 物理删除方法 -->

<delete id="delete">
    delete from <include refid="tableName"/>
    where id = #{id}
</delete>
<delete id="deleteById">
    delete from <include refid="tableName"/>
    where id = #{id}
</delete>
<delete id="deleteInIds">
    delete from <include refid="tableName"/>
    where id in
    <foreach collection="list" open="(" separator="," close=")" item="id">
        #{id}
    </foreach>
</delete>
<delete id="deleteList">
    delete from <include refid="tableName"/>
    <where>
                    id in
            <foreach collection="list" open="(" separator="," close=")" item="entity">
                #{entity.id}
            </foreach>
    </where>

</delete>
<delete id="deleteOnCondition">
    delete from <include refid="tableName"/>
    <where>
        <if test="condition != null">
            <include refid="com.swan.test.mybatis.mapper.IAutoDelMapper.condition"/>
        </if>
    </where>
</delete>
    <!-- 逻辑删除方法 -->

<delete id="remove">
    update <include refid="tableName"/>
    set
        id = id
            ,del = '-1'
    where
        id = #{id}
            and del = '0'
</delete>
<delete id="removeById">
    update <include refid="tableName"/>
    set
        id = id
            ,del = '-1'
    where
        id = #{id}
            and del = '0'
</delete>
<delete id="removeInIds">
    update <include refid="tableName"/>
    set
        id = id
            ,del = '-1'
    where id in
        <foreach collection="list" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
            and del = '0'
</delete>
<delete id="removeList">
    update <include refid="tableName"/>
    set
        id = id
            ,del = '-1'
    <where>
            id in
            <foreach collection="list" open="(" separator="," close=")" item="entity">
                #{entity.id}
            </foreach>
            and del = '0'
    </where>

</delete>
<delete id="removeOnCondition">
    update <include refid="tableName"/>
    set
        id = id
            ,del = '-1'
    <where>
        <if test="condition != null">
            <include refid="com.swan.test.mybatis.mapper.IAutoDelMapper.condition"/>
        </if>
    </where>
</delete>
    <!-- 更新方法 -->

<update id="update">
    update <include refid="tableName"/>
    set
        id = id
            ,name = #{name}
            ,age = #{age}
    where
        id = #{id}
</update>
<update id="updateById">
    update <include refid="tableName"/>
    set
        id = id
            ,name = #{name}
            ,age = #{age}
    where
        id = #{id}
</update>
<update id="updateNotNullById">
    update <include refid="tableName"/>
    set
        id = id
            <if test="name != null ">
                ,name = #{name}
            </if>
            <if test="age != null ">
                ,age = #{age}
            </if>
    where
        id = #{id}
</update>
<update id="updateNotNull">
    update <include refid="tableName"/>
    set
        id = id
            <if test="name != null ">
                ,name = #{name}
            </if>
            <if test="age != null ">
                ,age = #{age}
            </if>
    where
        id = #{id}
</update>
    <!-- 查询方法 -->

<select id="selectAll" resultType="com.swan.test.mybatis.po.AutoDelEntity">
    select <include refid="columns"/>
    from <include refid="tableName"/>
    <where>
           del = '0'
    </where>
    order by
        <if test="orderRules.length > 0">
            <foreach collection="orderRules" separator="," item="rule">
                ${rule.column} ${rule.type}
            </foreach>
        </if>
        <if test="orderRules.length == 0">
            id asc
        </if>
</select>
<select id="selectById" resultType="com.swan.test.mybatis.po.AutoDelEntity">
    select <include refid="columns"/>
    from <include refid="tableName"/>
    where id = #{id}
        and del = '0'
</select>
<select id="selectListInIds" resultType="com.swan.test.mybatis.po.AutoDelEntity">
    select <include refid="columns"/>
    from <include refid="tableName"/>
    where id in
        <foreach collection="idList" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
            and del = '0'
    order by
    <if test="orderRules.length > 0">
        <foreach collection="orderRules" separator="," item="rule">
            ${rule.column} ${rule.type}
        </foreach>
    </if>
    <if test="orderRules.length == 0">
        id asc
    </if>
</select>
<select id="selectListOnCondition" resultType="com.swan.test.mybatis.po.AutoDelEntity">
    select <include refid="columns"/>
    from <include refid="tableName"/>
    <where>
        <if test="condition != null">
            <include refid="com.swan.test.mybatis.mapper.IAutoDelMapper.condition"/>
        </if>
            and del = '0'
    </where>
    order by
    <if test="orderRules.length > 0">
        <foreach collection="orderRules" separator="," item="rule">
            ${rule.column} ${rule.type}
        </foreach>
    </if>
    <if test="orderRules.length == 0">
        id asc
    </if>
</select>
    <!-- 统计方法 -->

<select id="count" resultType="int">
    select count(id)
    from <include refid="tableName"/>
    <where>
            del = '0'
    </where>
</select>
<select id="countOnCondition" resultType="int">
    select count(id)
    from <include refid="tableName"/>
    <where>
        <if test="condition != null">
            <include refid="com.swan.test.mybatis.mapper.IAutoDelMapper.condition"/>
        </if>
            and del = '0'
    </where>
</select>
</mapper>

