<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.swan.test.mybatis.mapper.IAutoVersionMapper">

    <sql id="tableName">
        t_auto_version
    </sql>

    <sql id="columns">
        id
             ,name
             ,age
        
        ,version
    </sql>

    <sql id="WhereCondition">
<foreach collection="condition.whereList" item="criterion" separator="and" >
    <trim prefix="(" suffix=")" prefixOverrides="and" >
            <choose >
                <when test="criterion.noParamOp" >
                    and ${criterion.column} ${criterion.operator}
                </when>
                <when test="criterion.singleParamOp" >
                    and  ${criterion.column} ${criterion.operator} #{criterion.value}
                </when>
                <when test="criterion.secondParamOp" >
                    and  ${criterion.column} ${criterion.operator} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listParamOp" >
                    and  ${criterion.column} ${criterion.operator}
                    <foreach collection="criterion.listValues" item="itemValue" open="(" close=")" separator="," >
                        #{itemValue}
                    </foreach>
                </when>
            </choose>
    </trim>
</foreach>    </sql>


    <!-- 新增方法 -->

<insert id="insert"  useGeneratedKeys="true" keyProperty="id">
    insert <include refid="tableName"/>(<include refid="columns"/>)
    values (
        #{id}
            ,#{name}
            ,#{age}
        
        ,'10'
    );
</insert>




<insert id="insertNotNull"  useGeneratedKeys="true" keyProperty="id">
    insert <include refid="tableName"/>(
        id
            <if test="name != null ">,name</if>
            <if test="age != null ">,age</if>
            ,version
    )
    values(
        #{id}
            <if test="name != null ">,#{name}</if>
            <if test="age != null ">,#{age}</if>
        
        ,'10'
    )
</insert>
<insert id="insertList"  useGeneratedKeys="true" keyProperty="id">
    insert <include refid="tableName"/>(<include refid="columns"/>)
    values
    <foreach collection="list" separator="," item="entity">
        (
        #{entity.id}
            ,#{entity.name}
            ,#{entity.age}
        
        ,'10'
        )
    </foreach>
</insert>
    <!-- 物理删除方法 -->

<delete id="delete">
    delete from <include refid="tableName"/>
    where id = #{id}
        and version = #{version}
</delete>
<delete id="deleteById">
    delete from <include refid="tableName"/>
    where id = #{id}
</delete>
<delete id="deleteInIds">
    delete from <include refid="tableName"/>
    where id in
    <foreach collection="list" open="(" separator="," close=")" item="id">
        #{id}
    </foreach>
</delete>
<delete id="deleteList">
    delete from <include refid="tableName"/>
    <where>
                    and
            <foreach collection="list" open="(" separator="or" close=")" item="entity">
                (
                    id = #{entity.id}
                    and version = #{entity.version}
                )
            </foreach>
    </where>

</delete>
<delete id="deleteOnCondition">
    delete from <include refid="tableName"/>
    <where>
        <if test="condition != null">
            <include refid="com.swan.test.mybatis.mapper.IAutoVersionMapper.condition"/>
        </if>
    </where>
</delete>

    <!-- 更新方法 -->

<update id="update">
    update <include refid="tableName"/>
    set
        id = id
            ,name = #{name}
            ,age = #{age}
            ,version = version + 1
    where
        id = #{id}
            and version = #{version}
</update>
<update id="updateById">
    update <include refid="tableName"/>
    set
        id = id
            ,name = #{name}
            ,age = #{age}
            ,version = version + 1
    where
        id = #{id}
</update>
<update id="updateNotNullById">
    update <include refid="tableName"/>
    set
        id = id
            <if test="name != null ">
                ,name = #{name}
            </if>
            <if test="age != null ">
                ,age = #{age}
            </if>
            ,version = version + 1
    where
        id = #{id}
</update>
<update id="updateNotNull">
    update <include refid="tableName"/>
    set
        id = id
            <if test="name != null ">
                ,name = #{name}
            </if>
            <if test="age != null ">
                ,age = #{age}
            </if>
            ,version = version + 1
    where
        id = #{id}
            and version = #{version}
</update>
    <!-- 查询方法 -->

<select id="selectAll" resultType="com.swan.test.mybatis.po.AutoVersionEntity">
    select <include refid="columns"/>
    from <include refid="tableName"/>
    <where>
    </where>
    order by
        <if test="orderRules.length > 0">
            <foreach collection="orderRules" separator="," item="rule">
                ${rule.column} ${rule.type}
            </foreach>
        </if>
        <if test="orderRules.length == 0">
            id asc
        </if>
</select>
<select id="selectById" resultType="com.swan.test.mybatis.po.AutoVersionEntity">
    select <include refid="columns"/>
    from <include refid="tableName"/>
    where id = #{id}
</select>
<select id="selectListInIds" resultType="com.swan.test.mybatis.po.AutoVersionEntity">
    select <include refid="columns"/>
    from <include refid="tableName"/>
    where id in
        <foreach collection="idList" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    order by
    <if test="orderRules.length > 0">
        <foreach collection="orderRules" separator="," item="rule">
            ${rule.column} ${rule.type}
        </foreach>
    </if>
    <if test="orderRules.length == 0">
        id asc
    </if>
</select>
<select id="selectListOnCondition" resultType="com.swan.test.mybatis.po.AutoVersionEntity">
    select <include refid="columns"/>
    from <include refid="tableName"/>
    <where>
        <if test="condition != null">
            <include refid="com.swan.test.mybatis.mapper.IAutoVersionMapper.condition"/>
        </if>
    </where>
    order by
    <if test="orderRules.length > 0">
        <foreach collection="orderRules" separator="," item="rule">
            ${rule.column} ${rule.type}
        </foreach>
    </if>
    <if test="orderRules.length == 0">
        id asc
    </if>
</select>
    <!-- 统计方法 -->

<select id="count" resultType="int">
    select count(id)
    from <include refid="tableName"/>
    <where>
    </where>
</select>
<select id="countOnCondition" resultType="int">
    select count(id)
    from <include refid="tableName"/>
    <where>
        <if test="condition != null">
            <include refid="com.swan.test.mybatis.mapper.IAutoVersionMapper.condition"/>
        </if>
    </where>
</select>
</mapper>

