<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.swan.test.mybatis.mapper.IAutoMapper">

    <sql id="condition">
        <if test="condition.name != null">
            and name like concat(#{condition.name}, "%")
        </if>
    </sql>

    <delete id="truncate">
        truncate  t_auto
    </delete>

    <select id="queryListByIds" resultType="com.swan.test.mybatis.po.AutoEntity">
        select <include refid="columns"/>
        from <include refid="tableName"/>
    </select>
</mapper>
